/* - - H O M E - - */

/* SECTION INTRO */
.home-header-banner {
  background: url(/img/home/maldivas.png);
  background-size: cover;
  background-repeat: no-repeat;
}

.main__home-intro .section__intro-p {
  padding: 11.2rem 36rem;
  font-size: 2.5rem;
  text-align: center;
  line-height: 152%;
  font-weight: 300;
}

/* SECTION OFERTAS */
.main__home-ofertas {
  margin: 12rem 36rem;
}

.ofertas-cards {
  margin: 10rem 0;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  place-items: center;
  gap: 2.5rem;
}

.card-bg {
  width: 58rem;
  height: 30rem;
  border-radius: 4rem;
}

.card-bg.first {
  background: url(./img/home/tokyo.png);
  background-repeat: no-repeat;
  background-size: cover;
}

.card-bg.second {
  background: url(../img/home/san-andreas.png);
  background-repeat: no-repeat;
  background-size: cover;
}

.card-content-bg {
  background: rgba(0, 0, 0, 0.5);
  width: 58rem;
  height: 30rem;
  border-radius: 4rem;
}

.card-content {
  color: white;
  display: flex;
  flex-direction: column;
  text-align: center;
  padding: 4rem;
}

.card-texts {
  margin: 0;
}

.card-texts.first {
  font-size: 2rem;
  font-weight: 320;
  text-transform: uppercase;
  letter-spacing: 3px;
}

.card-texts.second {
  font-size: 4.8rem;
  font-weight: 700;
  margin-top: 0.8rem;
}

.card-texts.price {
  font-size: 3.5rem;
  font-weight: 500;
  margin-top: 2.4rem;
}

.card-texts.details {
  margin: 2.4rem auto;
  width: 50%;
}
/* SECTION CATEGORIAS */

.main__home-categorias {
  margin: 11.2rem 0;
}

.categorias__display {
  display: grid;
  gap: 5rem;
  grid-template-columns: repeat(4, 1fr);
  margin: 6.4rem 36rem;
}

.categorias__cards img {
  height: 8rem;
  width: 8rem;
  margin: 2rem auto;
}

.categorias__cards {
  display: flex;
  justify-content: center;
  flex-direction: column;
  margin: auto;
  background-color: #e3e3e3;
  border-radius: 1rem;
  height: 20rem;
  width: 20rem;
}

.categorias__cards-text {
  text-align: center;
  font-weight: 700;
  font-size: 2rem;
}

/* SECTION DESTINOS POPULARES */

.main__home-destinos {
  margin: 11.2rem 0;
}

.destinos__cards-display {
  margin: 6.4rem 45rem;
  display: grid;
  place-items: center;
  gap: 10rem;
  grid-template-columns: repeat(2, 1fr);
}

.texts-bg.first {
  background: url(/img/home/tokyo.png);
  background-size: contain;
  background-repeat: no-repeat;
}

.texts-bg.second {
  background: url(/img/home/osaka@2x.png);
  background-size: contain;
  background-repeat: no-repeat;
}

.texts-bg {
  box-shadow: 1px 1px 10px var(--black);
  width: 45rem;
  border-radius: 5rem;
}

.destinos-texts-bg {
  border-radius: 0 0 5rem 5rem;
  height: 26rem;
  background-color: var(--white);
  margin-top: 30rem;
}

.destinos-content {
  padding: 1.4rem;
}

.destinos__cards-title {
  font-size: 2.5rem;
  margin: 1rem 0 0 0;
}

.destinos__cards-p {
  line-height: normal;
}

.destinos__cards-button {
  display: grid;
  margin: auto;
  width: 50%;
  place-items: center;
  margin-top: 3rem;
}

/* SECTION CONDICIONES DE PAGO */

.condiciones__display {
  display: grid;
  gap: 5rem;
  grid-template-columns: repeat(2, 1fr);
  margin: 6.4rem 20rem;
}

.condiciones__group-photos {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  width: 100rem;
  gap: 1.5rem;
}

.photo-third {
  margin-top: 0.5rem;
}

.condiciones__texts {
  text-wrap: wrap;
}

.condiciones__texts-title {
  font-size: 3rem;
}

.condiciones__texts-p {
  font-size: 2rem;
  line-height: 3.5rem;
}

/* SECTION OPINIONES */

.main__home-opiniones {
  margin: 6.4rem 20rem 15rem 20rem;
}

/* FOOTER BANNER */
.home-footer-banner {
  background: url(/img/home/pre-footer-image.png);
  background-size: cover;
  background-repeat: no-repeat;
}

/* - - BLOG - - */

.banner.blog-header-banner {
  background: url(/img/blog/Banner\ Blog.png);
  background-size: cover;
  height: 80rem;
  background-repeat: no-repeat;
}

/* SECTION BLOG PLACES */

.blog-banner {
  width: 100%;
  height: 75rem;
}

.intro-texts {
  position: absolute;
  top: 27rem;
  left: 20rem;
  color: var(--white);
}

.intro-h1 {
  display: inline-block;
  position: relative;
  white-space: nowrap;
  font-size: 4.8rem;
}

.intro-h1::after {
  content: "";
  display: block;
  width: 40%;
  height: 0.4rem;
  background: var(--red-second);
  position: absolute;
  bottom: -2rem;
}

.intro-p {
  font-size: 2.5rem;
  font-weight: 200;
  line-height: 4rem;
  width: 30%;
}

/* SECTION BLOG PLACES */

.blog-places {
  margin: 11.2rem 34rem;
}

.places-titles {
  font-size: 2.8rem;
  display: inline-block;
  margin: 0;
}

.places {
  margin: 6.4rem 0;
}

.article-content {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 2rem;
}

.places-p {
  line-height: 3rem;
  font-size: 2rem;
}

figure {
  margin: 0;
}

.article__figure-img img {
  width: 120rem;
  height: 30rem;
}

.places-span {
  font-weight: 600;
}

/* SECTION BLOG POSTS */

.posts-display {
  margin: 12rem 36rem;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  place-items: center;
  gap: 5rem;
}
.posts-button {
  width: 100%;
}

/* - - PAQUETE DE VIAJE - - */

/* SECTION INTRO */

.banner.destinos-header-banner {
  background: url(/img/destinos/Banner\ Destinos\ Japon.png);
  background-repeat: no-repeat;
  background-size: cover;
  height: 80rem;
}

.destinos-intro .destinos-header {
  width: 100%;
  height: 75rem;
}

.destinos-intro .destinos-texts {
  position: absolute;
  top: 27rem;
  left: 20rem;
  color: var(--white);
}

.destinos-intro .destinos__h1-title {
  display: inline-block;
  position: relative;
  white-space: nowrap;
  font-size: 4.8rem;
}

.destinos-intro .destinos__h1-title::after {
  content: "";
  display: block;
  width: 40%;
  height: 0.4rem;
  background: var(--red-second);
  position: absolute;
  bottom: -2.5rem;
}

.destinos-intro .destinos__p-info {
  font-size: 2.5rem;
  font-weight: 200;
  line-height: 4rem;
  width: 50%;
}

/* SECTION DESTINOS */

.destinos-lugares {
  margin: 10.5rem 36rem;
}

.lugares-display {
  display: flex;
  margin: 6.4rem 10.4rem;
  gap: 5rem;
  justify-content: space-evenly;
  font-size: 2rem;
}

.destinos-lugares .posts-p {
  width: fit-content;
  height: 15rem;
  line-height: normal;
}

.destinos-lugares .posts-button {
  width: 100%;
}

/* SECTION PAGOS */

.pago__display {
  display: grid;
  gap: 5rem;
  grid-template-columns: repeat(2, 1fr);
  margin: 6.4rem 20rem;
}

.pago__texts {
  text-wrap: wrap;
}

.pago__texts-title {
  font-size: 3rem;
}

.pago__texts-p {
  font-size: 2rem;
  line-height: 3.5rem;
}

/* SECTION RESEÑAS */

.destinos-rates {
  margin: 6.4rem 20rem 15rem 20rem;
}

.destinos-footer-banner {
  background: url(/img/destinos/personas.png);
  background-repeat: no-repeat;
  background-size: cover;
  height: 60rem;
}
/* - - CONTACTO - - */

/* SECTION INTRO*/

.banner.contacto-header-banner {
  background: url(/img/contacto/Banner\ Contacto.png);
  background-repeat: no-repeat;
  background-size: cover;
}
.contacto-intro .intro-p {
  width: 70%;
}

/* SECTION FORM*/

.contacto-section {
  margin: 12rem 36rem;
}

.form__text-content {
  margin: 5.5rem 0;
}

.form__p-info {
  font-size: 3rem;
  text-align: center;
  font-weight: 300;
  line-height: 4rem;
}

.data-display {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  column-gap: 5rem;
  row-gap: 2rem;
}

.asunto-display {
  display: grid;
  gap: 2rem;
  margin: 2rem 0;
}

.form-input {
  width: 100%;
  border: none;
  background: rgba(255, 153, 0, 0.3);
  outline: none;
  padding: 2rem;
  margin: 0.5rem 0;
  border-radius: 2rem;
  font-weight: 500;
  transition: 0.3s;
}

.form-input:hover {
  background: rgba(215, 131, 5, 0.501);
}

.input-groups label {
  margin: 0 0 0 1rem;
  font-weight: 600;
  font-size: 1.8rem;
}

.input-groups textarea {
  resize: none;
  width: 100%;
  min-width: 15rem;
}

.form-button {
  position: absolute;
  left: 50%;
  transform: translate(-50%);
  border: none;
  width: 20%;
  cursor: pointer;
}

.banner.contacto-footer-banner {
  background: url(/img/contacto/Footer.png);
  background-repeat: no-repeat;
  background-size: cover;
  height: 50rem;
}

/* MEDIA QUERIES */

/* // CELLPHONES // */
/*  */
@media (width <= 480px) {
  /*  */
  /*  */
  /* HOME PAGE */
  /*  */
  /* Queries INTRO */
  .main__home-intro .section__intro-p {
    font-size: 2rem;
    margin: 5rem 5rem;
    padding: 0;
  }

  /* Queries OFERTAS */
  .main__home-ofertas {
    margin: auto;
    width: fit-content;
  }
  .ofertas-cards {
    margin: 2rem 0;
    display: flex;
    flex-direction: column;
  }
  .card-bg,
  .card-content-bg {
    width: 40rem;
    height: 30rem;
  }

  /* Queries CATEGORIAS */
  .categorias__display {
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    margin: 2rem auto;
  }

  /* Queries DESTINOS */
  .main__home-destinos {
    margin: 2rem auto;
  }
  .destinos__cards-display {
    display: flex;
    flex-direction: column;
    gap: 5rem;
    margin: 2rem auto;
  }
  .texts-bg {
    width: 35rem;
  }
  .destinos-content {
    text-align: center;
    padding: 0rem 2rem;
    font-size: 1.5rem;
  }
  .destinos__cards-button {
    width: 80%;
  }

  /* Queries CONDICIONES */
  .main__home-condiciones {
    margin: 10rem auto;
  }
  .condiciones__display {
    margin: 2rem auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 1rem;
  }
  .condiciones__texts-button {
    display: grid;
    place-items: center;
    margin: auto;
    width: 60%;
  }
  .condiciones__texts {
    padding: 5rem;
  }
  .condiciones__texts-title {
    font-size: 2rem;
  }
  .condiciones__texts-p {
    font-size: 1.6rem;
  }
  .condiciones__group-photos,
  .photo-third {
    display: flex;
    flex-direction: column;
    width: 100%;
    padding: 2rem;
  }
  .photo-third {
    margin: 0;
    padding: 0 2rem;
    height: 100%;
  }

  /* Queries OPINIONES */
  .main__home-opiniones {
    margin: 2rem 0;
  }

  /* Queries FOOTER-BANNER */
  .home-footer-banner {
    height: 30rem;
  }
  /*  */
  /*  */
  /* BLOG PAGE */
  /*  */
  /* Queries INTRO */
  .banner.blog-header-banner {
    display: block;
    height: 80rem;
    background-position-x: center;
    margin-bottom: 15rem;
  }
  .intro-texts {
    left: 50%;
    transform: translateX(-50%);
    top: 40rem;
  }
  .intro-h1 {
    font-size: 3rem;
  }
  .intro-p {
    width: 100%;
    font-size: 2.2rem;
    font-weight: 400;
  }

  /* Queries PLACES */
  .blog-places {
    margin: 2rem 0;
    padding: 2rem;
  }
  .article-content {
    display: flex;
    flex-direction: column;
  }
  .article__figure-img img {
    width: 100%;
    height: 100%;
  }
  .places-p {
    font-size: 1.6rem;
  }
  .places-titles {
    font-size: 2rem;
  }

  /* Queries POSTS */
  .blog--posts-title {
    text-wrap: wrap;
    white-space: wrap;
  }
  .posts-display {
    margin: 0;
    padding: 5rem;
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    gap: 2rem;
  }
  .posts-p {
    width: 100%;
  }

  /*  */
  /*  */
  /* PAQUETES DE VIAJES PAGE */
  /*  */
  .banner.destinos-header-banner {
    height: 80rem;
    background-position-x: 45%;
    margin-bottom: 15rem;
  }
  .destinos-intro .destinos-texts {
    left: 50%;
    transform: translateX(-50%);
    top: 37rem;
  }
  .destinos-intro .destinos__h1-title {
    font-size: 3rem;
  }
  .destinos-intro .destinos__p-info {
    width: 100%;
    font-weight: 400;
    font-size: 2.2rem;
  }

  /* Queries DESTINOS */
  .destinos-lugares {
    margin: 0;
  }
  .lugares-display {
    display: grid;
    margin: 5rem;
    gap: 4rem;
    grid-template-columns: repeat(1, 1fr);
  }
  .destinos-lugares .posts-p {
    height: fit-content;
    margin: 2rem 0;
    font-size: 2rem;
  }

  /* Queries PAGOS */
  .pago__display {
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    margin: 2rem;
    gap: 1rem;
  }

  /* Queries RATES */
  .destinos-rates {
    margin: 10rem 0;
  }

  /* Queries BANNER FOOTER */
  .destinos-footer-banner {
    height: 30rem;
    background-position-x: center;
  }

  /*  */
  /*  */
  /* CONTACTO PAGE */
  /*  */
  /* Queries HEADER */
  .banner.contacto-header-banner {
    height: 80rem;
    background-position-x: center;
  }

  .contacto-intro .intro-texts {
    top: 42rem;
    left: 50%;
    transform: translateX(-50%);
  }
  .contacto-intro .intro-p {
    width: 100%;
  }

  /* Queries FORM */
  .contacto-section {
    margin: 10rem 2rem;
  }
  .form__p-info {
    margin: 4rem;
    font-size: 2rem;
    font-weight: 400;
  }
  .data-display {
    display: grid;
    grid-template-columns: repeat(1, 1fr);
  }
  .form-button {
    width: 50%;
  }

  /* Queries FOOTER */
  .banner.contacto-footer-banner {
    height: 30rem;
  }
}
